<div class="container">
  <div class="row m-0">
    <div class="col-12 alert">
      <div *ngIf="registerForm.touched" class="alert alert-info">
        <p><strong>Information:</strong> You have made changes. Any unsaved changes will be lost!</p>
      </div>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">

      <div class="form-group">
        <input class="form-control" type="text" required formControlName="spanFirstName" placeholder="Enter first name *">
        <span class="text-danger"
          *ngIf="getRegisterControl.spanFirstName.touched && getRegisterControl.spanFirstName.errors?.required">First name is
          required</span>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" required formControlName="spanLastName" placeholder="Enter last name *">
        <span class="text-danger"
          *ngIf="getRegisterControl.spanLastName.touched && getRegisterControl.spanLastName.errors?.required">Last name is
          required</span>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" required formControlName="spanPhone" placeholder="Enter phone *">
        <span class="text-danger"
          *ngIf="getRegisterControl.spanPhone.touched && getRegisterControl.spanPhone.errors?.required">Phone is
          required</span>
      </div>

      <div class="form-group">
        <input class="form-control" type="email" required formControlName="spanEmail" placeholder="Enter email *">
        <span class="text-danger"
          *ngIf="getRegisterControl.spanEmail.touched && getRegisterControl.spanEmail.errors?.required">Email is
          required</span>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" required formControlName="spanAddress" placeholder="Enter address *">
        <span class="text-danger"
          *ngIf="getRegisterControl.spanAddress.touched && getRegisterControl.spanAddress.errors?.required">Address is
          required</span>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" required formControlName="spanUsername" placeholder="Enter username *">
        <span class="text-danger"
          *ngIf="getRegisterControl.spanUsername.touched && getRegisterControl.spanUsername.errors?.required">Username is
          required</span>
      </div>
      
      <div class="form-group">
        <input class="form-control" type="password" required formControlName="spanPassword" placeholder="Enter password *">
        <span class="text-danger"
          *ngIf="getRegisterControl.spanPassword.touched && getRegisterControl.spanPassword.errors?.required">Password is
          required</span>
      </div>
      
      <div class="form-group">
        <input class="form-control" type="password" required formControlName="spanPasswordConfirm" placeholder="Enter password *">
        <span class="text-danger"
          *ngIf="getRegisterControl.spanPasswordConfirm.touched && getRegisterControl.spanPasswordConfirm.errors?.required">Password confirm is
          required</span>
      </div>
      
      <div class="buttons">
        <div>
          <button type="submit" class="btn btn-primary">Apply</button>
          <button type="button" (click)="cancelRegister()" class="btn btn-info ml-3">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>